.todo form {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  margin-top: calc(0px - 1.5rem - 6px); 
}

.todo input[type="text"] {
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  width: 100%;
  background: var(--gray-500);
  color: var(--gray-100);
}

.todo button {
  padding: 1rem;
  border-radius: 8px;
  background: var(--blue-dark);
  border: 1px solid var(--blue-dark);
  color: var(--gray-100);
  cursor: pointer;
  display: flex;
  align-items: center;

  gap: 0.5rem;
  transition: color 0.1s, background-color 0.1s;
}

.todo button:hover {
  background-color: var(--blue);
}

.todo button:disabled{
  opacity: 0.8;
  cursor: not-allowed;
}